<main class="content">
   <h1>Electron Countdown Application</h1>
   <div class="progress-wrapper" *ngIf="maxVal">
     <div class="text" *ngIf="!isFinished">
      {{ maxVal - currVal | number:'1.1-1'}}
     </div>
     <div class="text" *ngIf="!isFinished">
      ding
      <audio src="assets/bell.mp3" autoplay></audio>
     </div>
     <round-progress
      [current]="currVal"
      [max]="maxVal"
      [radius]="100"
      [stroke]="20"
     ></round-progress>
   </div>

   <!-- Input from user -->
   <div class="controls-wrapper">
     <div *ngIf="isFinished">
       <label>Seconds</label>
       <input type="text"
              [(ngModel)]="max"
              (keydown)="reset()">
     </div>
     <button *ngIf="currVal <= 0" (click)="start()"></button>
     <button *ngIf="!isFinished"  (click)="finsh()"></button>
   </div>
</main>